<a href="https://colab.research.google.com/github/NBestsuNgan/Flower-Shop-website-project/blob/main/Solution_of_Lab_1_Text_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instruction
1. อ่าน file ทวิตรีวิวสายการบิน Tweets.csv
2. เลือกเฉพาะสายการบิน United
3. ทำให้ข้อมูลเหลือเพียง 2 columns คือ 1. ค่าความพึงพอใจ(airline_sentiment) 2. tokenized text ซึ่งคั่นแต่ละ token ด้วย '|' เหมือนในตัวอย่างข้างล่าง

**@|united|Thanks|for|taking|care|of|that**
4. ทวิตรีวิวสายการบิน United ส่วนใหญ่เป็นกลาง, ลบ หรือบวก?

In [ ]:
!gdown --id 1E-iV3nbBZP3mdwlDA9eTrQkFDjiAzsO0

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1E-iV3nbBZP3mdwlDA9eTrQkFDjiAzsO0
To: /content/Tweets.csv
100% 3.42M/3.42M [00:00<00:00, 131MB/s]

In [ ]:
import pandas as pd
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
data = pd.read_csv('Tweets.csv')

In [ ]:
data.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [ ]:
united = data[data.airline == 'United']

In [ ]:
united.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
504,570307876897628160,positive,1.0000,NaN,NaN,United,NaN,rdowning76,NaN,0,@united thanks,NaN,2015-02-24 11:42:48 -0800,usa,NaN
505,570307847281614848,positive,1.0000,NaN,NaN,United,NaN,CoreyAStewart,NaN,0,@united Thanks for taking care of that MR!! Ha...,NaN,2015-02-24 11:42:41 -0800,"Richmond, VA",Eastern Time (US & Canada)
506,570307109704900608,negative,1.0000,Cancelled Flight,0.703,United,NaN,CoralReefer420,NaN,0,@united still no refund or word via DM. Please...,NaN,2015-02-24 11:39:45 -0800,"Bay Area, California",Alaska
507,570307026263384064,negative,1.0000,Late Flight,1.000,United,NaN,lsalazarll,NaN,0,@united Delayed due to lack of crew and now de...,NaN,2015-02-24 11:39:25 -0800,NaN,Mountain Time (US & Canada)
508,570306733010264064,positive,0.3441,NaN,0.000,United,NaN,rombaa,NaN,0,@united thanks -- we filled it out. How's our ...,NaN,2015-02-24 11:38:15 -0800,NaN,NaN

In [ ]:
united.airline_sentiment.value_counts()

negative    2633
neutral      697
positive     492
Name: airline_sentiment, dtype: int64

In [ ]:
import re
def tokenize_and_count(text):
  tokens = nltk.word_tokenize(text)
  patt = re.compile('[a-zA-Z0-9]+')
  count = 0
  for token in tokens:
    if patt.match(token):
      count += 1
  return count

united['length'] = united.text.apply(tokenize_and_count)

<ipython-input-9-d7d2d440f05b>:11: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  united.length = united.text.apply(tokenize_and_count)

In [ ]:
united.length.describe()

count    3822.000000
mean       18.274987
std         6.983886
min         2.000000
25%        13.000000
50%        20.000000
75%        24.000000
max        33.000000
Name: text, dtype: float64

In [ ]:
united.length.sum()

69847

In [ ]:
def tokenize(text):
  tokens = nltk.word_tokenize(text)
  patt = re.compile('[a-zA-Z0-9]+')
  new_tokens = [x for x in tokens if patt.match(x)]
  return '|'.join(new_tokens)

tokenize('I am happy to fly here')

'I|am|happy|to|fly|here'

In [ ]:
united['tokens'] = united.text.apply(tokenize)

<ipython-input-12-51b670dd9634>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  united['tokens'] = united.text.apply(tokenize)

In [ ]:
cleaned_united = united[['tokens', 'airline_sentiment']]

In [ ]:
cleaned_united

                                                 tokens airline_sentiment
504                                       united|thanks          positive
505   united|Thanks|for|taking|care|of|that|MR|Happy...          positive
506   united|still|no|refund|or|word|via|DM|Please|r...          negative
507   united|Delayed|due|to|lack|of|crew|and|now|del...          negative
508   united|thanks|we|filled|it|out|How|our|luck|wi...          positive
...                                                 ...               ...
4321  united|link|to|current|status|of|flights/airpo...          negative
4322  united|I|like|delays|less|than|you|because|I|t...          negative
4323  united|and|do|n't|hope|for|me|having|a|nicer|f...          negative
4324  united|the|we|got|into|the|gate|at|IAH|on|time...          negative
4325  united|yes|We|waited|in|line|for|almost|an|hou...          negative

[3822 rows x 2 columns]